.mission-title {
    color:#10069f;
    margin-bottom: 20px;
    color: rgb(16, 6, 159);
    font-size: 48px;
    font-weight: 600;
}


.mission-text {
    font-size: 28px;
    line-height: 1.625em;
}