<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="container text-left">
                <h3 class="mission-title">Our Mission</h3>

                <p class="mission-text">We know Medicare — inside and out, and that’s why we also know it’s complicated, confusing, and yet so important.
                    We’re committed to making the learning and shopping for Medicare transparent and simpler, to support better health and greater peace of mind.
                </p>
           
                <a href="#" class="btn btn-warning btn-lg text-white" style=" background-color: #FF7F32; border-color: #FD701C;">JOIN US</a>
       
        
            </div>
        </div>
        <div class="col-md-6">
            
            
        </div>
       
    </div>
    
</div>
