
    <div class="fast">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 fastest-growth-container">
                    <h2 class="fastest-growth">Find out why we’re one of the <strong>smartest, nicest and fastest growing</strong> companies in our industry.
        
                    </h2>
                    <app-growth-cards></app-growth-cards>
                </div>
            </div>
    
    
    
            
        </div>
    </div>
    