.fastest-growth {
    margin-bottom: 50px;
    color: rgb(16, 6, 159);
    font-size: 38px;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    text-align: center;
}

.fast{
        
        padding: 60px 0px;
        background: rgb(246, 247, 250);
    
}